[Unit]
Description=A VLF signal monitor for recording sudden ionospheric disturbances
After=alsa-restore.service

[Service]
Type=forking
EnvironmentFile=-/etc/sysconfig/sidc
ExecStart=/usr/bin/sidc $SIDC_OPTIONS
PIDFile=/var/run/sidc/sidc.pid
User=sidc

[Install]
WantedBy=multi-user.target
